{% load i18n %}
{% load l10n %}
{% load static %}

<div class="pdf_block">
  <h2>{% trans display_name %} </h2>
  
  {% if allow_download or source_url != "" %}
  <ul>
    {% if allow_download %}
    <li class="pdf-download-button">
      <a href="{{ url }}" download>{% trans "Download the PDF" %}</a>
    </li>
    {% endif %}
    {% if source_url != "" %}
    <li class="pdf-download-button">
      <a href="{{ source_url }}" download>{% if source_text == "" %} {% trans "Download the source document" %} {% else %}{{ source_text }}{% endif %}</a>
    </li>
    {% endif %}
  </ul>

  {% endif %}
  <div class="viewer-url" style="display:none">{% static 'xblock/resources/pdf/static/pdfjs-viewer/index.html?url=' %}</div>
  <iframe class="viewer" style="display:none" width="100%" height="600" src="{{url}}"></iframe>


</div>
